/node_modules

/.env



src/
│  ├─ controllers/
│  │  ├─ auth.controller.js
│  │  ├─ wallet.controller.js
│  │  └─ rewards.controller.js
│  ├─ services/
│  │  ├─ user.service.js
│  │  └─ wallet.service.js
│  ├─ Model/
│  │  ├─ User.js
│  │  ├─ Wallet.js
│  │  ├─ Transaction.js
│  │  ├─ Voucher.js
│  │  └─ RedeemedReward.js
│  ├─ middlewares/
│  │  ├─ auth.js
│  │  ├─ logger.js
│  │  └─ errorHandler.js
│  ├─ utils/
│  │  └─ jwt.js
│  ├─ routes/
│  │  ├─ auth.routes.js
│  │  ├─ wallet.routes.js
│  │  └─ rewards.routes.js